# Media
**/*.mov
**/*.mp4
*.MOV

# Test files
test_*
test


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# CMake and build files
build
docker-build

# Python
env
__pycache__
*.log
*.bak
*.dwl
*.dwl2

# Node.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local

# Sass / Css
custom.css
custom.css.map

# Kubernetes
*kubeconfig.yaml
mongo_uri_secret.yaml

# Protobufs
*_pb2.py
*.pb.c
*.pb.h
out

# Altium
*.PrjPCBStructure
*.SchDocPreview
*.PcbDocPreview
__Previews
*.PrjPcbStructure
*.Dat
*.REP
*.TLT
*.LOG
*.log
*.htm
*.$$$

# Project dirs
Project\ Outputs
Project\ Logs
Project Outputs for*

# History
History

# Exports, but not manual ones
exports/*
!exports/manual

# Secrets
**/arduino_secrets_mine*
